#Wed Dec 09 16:49:57 GMT 2020
mail.smtp.toEmail=ENC1(bk/Lbx5RVvKgwWDiEKtMhONoUx4IJaVv/dh+tfTez/U7Ly4OROcSeRmAh27mgefhATNaKryMazQOzsmk+eKPlQ\=\=)
mail.smtp.ssl.enable=false
mail.smtp.other.port=
Encryptor.check=Provar
mail.smtp.starttls.required=false
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=false
mail.smtp.port=587
mail.smtp.username=ENC1(OLrLxqDLCaskxLxir2nbl27VjSagqe4EYeBuB5vpEhL5vjqCgCBx71/Q3hY82KnwFUWkX2eqAfeKn2pJbzTUCQ\=\=)
mail.smtp.password=ENC1(kflyeA1ZHJINRhGsHeAblg3GeN2Yz1t58tqKd4DpXgmEZfUHSXX9e/KHeH/R0CiJ)
mail.smtp.other.host=
